# Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# IntelliJ / Android Studio
.idea/
*.iml

# Android
*.apk
*.aab

# Firebase
google-services.json

# C++ / Native
.externalNativeBuild/
.cxx/

# Mac / system
.DS_Store

# Logs
*.log